@font-face {
    font-family: "iconfont"; /* Project id 4744433 */
    src: url('//at.alicdn.com/t/c/font_4744433_dh6u1rm0xww.woff2?t=1731483990638') format('woff2'),
         url('//at.alicdn.com/t/c/font_4744433_dh6u1rm0xww.woff?t=1731483990638') format('woff'),
         url('//at.alicdn.com/t/c/font_4744433_dh6u1rm0xww.ttf?t=1731483990638') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-triangledownfill:before {
    content: "\e79b";
  }
  
  .icon-triangleupfill:before {
    content: "\e79c";
  }
  