@font-face {
  font-family: "iconfont"; /* Project id 4744433 */
  src: url('//at.alicdn.com/t/c/font_4744433_7ou49ve0ooq.woff2?t=1731565018635') format('woff2'),
       url('//at.alicdn.com/t/c/font_4744433_7ou49ve0ooq.woff?t=1731565018635') format('woff'),
       url('//at.alicdn.com/t/c/font_4744433_7ou49ve0ooq.ttf?t=1731565018635') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-touzi:before {
  content: "\e6f9";
}

.icon-yueliang:before {
  content: "\e603";
}

.icon-baibaoxiang:before {
  content: "\e600";
}

.icon-triangledownfill:before {
  content: "\e79b";
}

.icon-triangleupfill:before {
  content: "\e79c";
}
