#hot-container{
    width: 100%; 
    height: 120px;
    font-size: 95%;
  }
  
  .hot-new{
    background:#dd3148
  }
  .hot-hot{
    background:#ff7e14
  }
  .hot-jyzy{
    background:#eba447
  }
  .hot-recommend{
    background:#7ec7dd
  }
  .hot-adrecommend{
    background:#e9c062
  }
  .hot-friend{
    background:#c3ee68
  }
  .hot-boom{
    background:#bd0000
  }
  .hot-topic{
    background:#ff6f49
  }
  .hot-topic-ad{
    background:#87bceb
  }
  .hot-boil{
    background:#f56134
  }
  #hot-container{
    overflow-y:auto;
    -ms-overflow-style:none;
    scrollbar-width:none
  }
  #hot-container::-webkit-scrollbar{
    display:none
  }
  .hot-list-item{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap:nowrap
  }
  .hot-title{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-right:auto
  }
  .hot-num{
    float:right
  }
  .hot-hotness{
    display:inline-block;
    padding:0 6px;
    transform:scale(.8) translateX(-3px);
    color:#fff;
    border-radius:8px
  }